@charset "UTF-8";
@keyframes rocket{
	5%{
		transform:rotate(90deg);
	}

	30%{
		transform:translateX(10rem) rotate(90deg)
	}

	40%{
		transform:translateX(10rem) rotate(270deg)
	}

	60%{
		transform:translateX(-10rem) rotate(270deg)
	}

	70%{
		transform:translateX(-10rem) rotate(90deg)
	}

	95%{
		transform:translateX(0rem) rotate(90deg)
	}

	100%{
		transform:translateX(0rem) rotate(0)
	}

}

html{
	font-family:'Fira Sans';
	font-size:66%
}

body{
	position:absolute;
	min-width:250px;
	height:100%;
	width:100%;
	margin:0;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:white
}

.customHeader{
	position:fixed;
	width:100%
}

#content div:not(.popupVisible):not(.popupFoot):not(.buttonbox):not(.legend):not(.count_target):not(.rocket){
	display:block;
	width:18rem;
	border-bottom:solid .3em;
	box-shadow:2px -1px 4px black;
	margin-top:1.5ex;
	margin-left:auto;
	margin-right:auto;
	padding:1.5ex;
	border-bottom:solid .3em
}

#content,#editPage{
	margin-top:6rem;
	display:block;
	text-align:center
}

#content h2{
	font-weight:bold;
	margin-bottom:0;
	margin-top:0
}

#content div .count_target,.headline{
	font-size:2.5ex;
	margin-bottom:0;
	margin-top:0;
	text-align:right;
	width:8rem;
	overflow:hidden
}

#showDate {
	font-size:2.5ex;
}

#content div .legend{
	overflow:hidden;
	width:8;
	float:left;
	font-size:2.5ex;
	font-weight:lighter;
	margin-right:2rem;
	text-align:left !important
}

#content h1{
	margin-top:8rem
}

#editPage button,#editPage input.button{
	width:calc( (100% - 2rem) / 2)
}

#editPage div{
	margin-top:2.5rem
}

.rocket , .rocket strong {
	text-align:center;
    font-size:2ex;
}

.rocket:before{
	content:'   ';
	position:relative;
	display:block;
	width:5rem;
	height:6rem;
	margin-left:auto;
	margin-right:auto;
	background-image:url("app/images/rocket.png");
	background-size:cover;
	animation:rocket 5s
}

.popupHidden{
	display:none !important;
	height:0
}

.popupVisible{
	background:rgba(64,64,64,1) url(../status/images/ui/pattern.png) repeat left top;
	color:#fff;
	position:fixed;
	top:0;
	margin:0 !important;
	z-index:100;
	bottom:0;
	left:0;
	right:0;
	width:100% !important;
	height:100%;
	text-align:center
}

.popupVisible span p{
	text-overflow:ellipsis;
	white-space:pre;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
	text-align:left !important;
	margin-top:10% !important;
	font-size:2em !important
}

.popupFoot{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	box-shadow:none
}

#newName {
	display:inline-block;
	margin-top:1rem;
	margin-bottom:1rem;
	width: calc(100% - 2rem) !important
}

#newDate, #newTime {
	margin-top: 2rem;
	display:inline-block;
	width: calc(50% -2rem);
}

.buttonbox{
	position:fixed;
	overflow:hidden;
	height:4rem;
	left:0;
	right:0;
	bottom:0;
	padding:1.1rem;
	background:rgba(0,0,1,0.7)
}

.buttonbox button {
	width:calc(( 100% - 6rem) / 2);
	margin-left: 1rem;
	margin-right: 1rem;
}

.disabled {
  background: rgba(0,0,0,0.02);
  color: #c7c7c7;
  pointer-events: none;
}
